body {
    background-color: black;
}
h1, h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
h1 {
    font-size: 42px;

}
h3 {
    font-size: 18px;
}
h3 i {
    display: block;
    font-style: normal;
}

.row {
    /*border: 1px solid white;*/
    height: 20px;
    display: flex;
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: content-box;
}
.fields {
    border: 1px solid white;
    width: 400px;
    height: 400px;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
}
.snake-cell {
    background-color: greenyellow;
    height: 20px;
    width: 20px;
}